# Config:
config/local.yml
config/database.yml
config/auth.yml
#config/oauth.yml

# Public Uploads:
public/assets/*
public/file/*

# Rails:
Gemfile.lock
db/schema.rb
db/*.sqlite3
db/*.sqlite3-journal
.bundle
.bundle\n
.rvmrc
.rvmrc.*
.ruby-gemset
.ruby-version

# Log:
*.log
log/*.log

# NetBeans:
.tags
.tags_sorted_by_file
nbproject

# Mac:
.DS_Store

# Cache
public/javascripts/cache
*.swp
*.swo
.sass-cache
public/stylesheets/cache
vendor/cache
tmp/
tmp


lib/files/china.xml
coverage
coverage.data 
pkg
public/themes/*
doc/ 
.project
.yardopts
capybara-*html
index/**/*
public/refinery/*
pkg
-MiniBufExplorer-
.yardoc
tmp/**/*
*~
refinerycms-*.gem
Thumbs.db
coverage.data 
.redcar
doc/app
doc/api
*.sublime-workspace
*.tmproj
*.rbc
coverage
*.vim
.idea
.eprj
*.xls#
*.autobackupbyrefinery.*
.rvmrc.*
vendor/extensions/**/spec/dummy
.bundle\n
db/*.sqlite3-journal
.ruby-gemset
.ruby-versionvim
.idea
.eprj
*.xls#
*.autobackupbyrefinery.*
vendor/extensions/**/spec/dummy
