<p id="notice"><%= notice %></p>

<p>
  <strong>标题:</strong>
  <%= @admin_news.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @admin_news.content %>
</p>

<% content_for :script do %>
  <script>
    $(function(){
      $("#admin_news").addClass("active")
    })
  </script>
<% end %>
