<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">成绩编辑</li>
<% end %>

<h1>成绩编辑</h1>

<%= render 'form' %>

<% content_for :script do %>
  <script>
    $(function(){
      $("#student_score").addClass("active")
    })
  </script>
<% end %>