<%= simple_form_for([:admin, @xueyuan], wrapper: "default-form", html: {role: "form"}) do |f| %>

  <%= f.input :name, label_html: {class: "col-sm-2"} %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-md-10">
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  </div>
<% end %>
