<p id="notice"><%= notice %></p>

<p>
  <strong>学院名称:</strong>
  <%= @xueyuan.name %>
</p>

<p>
  <strong>包含专业:</strong>
  <%= @xueyuan.zhuanyes.pluck(:name).join(", ") %>
</p>

<%= link_to '编辑', edit_admin_xueyuan_path(@xueyuan) %> |

<% content_for :script do %>
  <script>
    $(function(){
      $("#admin_xueyuan").addClass("active")
    })
  </script>
<% end %>