<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">评优奖励添加</li>
<% end %>

<h1>评优奖励 添加</h1>

<%= render 'form' %>


