<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">评优奖励添加</li>
<% end %>

<div class="page-content">
  <div class="page-header">
    <h1>
      评优奖励添加
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <%= render "form" %>
    </div>
  </div>
</div>


<% content_for :script do %>
  <script>
    $(function(){
      $("#admin_application").addClass("active")
    })
  </script>
<% end %>