<%= simple_form_for([:admin, @application_date], wrapper: "default-form", html: {role: "form"}) do |f| %>

  <div class="form-inputs">
    <%= f.input :start_at, label_html: {class: "col-sm-2"} %>
    <%= f.input :end_at, label_html: {class: "col-sm-2"} %>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-md-10">
      <%= f.button :submit, "保存", class: "btn-primary" %>
    </div>
  </div>
<% end %>
