<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">用户添加</li>
<% end %>

<h1>用户添加</h1>

<%= render "form" %>

<% content_for :script do %>
  <script>
    $(function(){
      $("#admin_user").addClass("active")
    })
  </script>
<% end %>